.sidebar{
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    /* border-right: 1px solid #e5e5e5; */
    padding-top: 15px;
    color: white;
    background-color: black;
    transition:0.3s;
}

.item{
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 12px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 10px;

    transition: background-color 0.3s;
}

.item:hover{
    background-color: grey;
}

.item span{
    font-size: 15px;
    font-weight: 500;
}

.tabs{
    border-bottom: 1px solid #ffffff;
}

.collapse{
    width:100px;
}

.collapse .item{
    justify-content:center;
}

.collapse .item span{
    display:none;
}